

// 0. Theme Colors
$brand-primary: #FB6E00;
$brand-secondary: #720096;
$brand-pink: #FF0092;
$brand-red: #FF0000;
$brand-success: #00CCBB;
$brand-warning: #FFC500;
$brand-white: #ffffff;
$brand-black: #231f20;
$brand-gray: #857f87;
$brand-silver: #e6e6e6;
$brand-light: #f9f9f9;



// 1. Typography

// Fonts

// Base fonts
@include font-face("Encode Sans", "../fonts/Encode_Sans_Semi_Condensed/EncodeSansSemiCondensed-Regular", 400, normal, ttf);
@include font-face("Encode Sans 600", "../fonts/Encode_Sans_Semi_Condensed/EncodeSansSemiCondensed-Bold", 600, normal, ttf);
@include font-face("Encode Sans 800", "../fonts/Encode_Sans_Semi_Condensed/EncodeSansSemiCondensed-ExtraBold", 800, normal, ttf);
@include font-face("Roboto", "../fonts/Roboto/Roboto-Regular", 400, normal, ttf);
@include font-face("Roboto 700", "../fonts/Roboto/Roboto-Bold", 700, normal, ttf);
@include font-face("Roboto Mono", "../fonts/RobotoMono-Regular", 400, normal, ttf);

.menu-text {
  font-family: "Encode Sans", Arial, sans-serif;
}

h4, h5, h6 {
  font-family: "Encode Sans 600", Arial, sans-serif !important;
}


// Type

.lead {
  color: $brand-gray;
}

blockquote {
  font-style: italic;
}

.label, .badge {
  font-weight: 600;
}

.gradient-primary {
  @include gradient-primary;
}

.gradient-dark {
  @include gradient-dark;
}

.gradient-punch {
  @include gradient-punch;
}

.gradient-light {
  @include gradient-light;
}

.gradient-auxiliary {
  @include gradient-auxiliary;
}


// UI

.tabs-content,
.tabs,
.dropdown-pane {
  @include box-shadow();
}

.callout a {
  color: $brand-light;
  text-decoration: underline;
  &:hover, &:focus, &:active {
    color: $brand-white;
  }
}


// Off panel
.card.off-panel {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  padding-top: 80px;
  top: 0;
  width: 320px;
  transform: translateX(-100%);
  transition: transform ease .25s;
  border-radius: 0;
  &.is-active {
    transform: translateX(0);
  }
}

.is-active + .off-panel-main {
  margin-left: 320px;
}

.off-panel-main {
  transition: margin-left ease .25s;
}

.off-panel-btn {
  z-index: 0;
  position: relative;
  left: -20px;
  top: -20px;
  padding: 1rem 0.3rem;
  border-radius: 0 0 6px 0;
  @include gradient-auxiliary;
  @include box-shadow();
  cursor: pointer;
  transition: opacity ease .2s;
  &:hover {
    opacity: .75;
  }
}

// Table
table thead {
  text-transform: uppercase;
  font-family: "Encode Sans 600", Arial, sans-serif;
  font-weight: normal;
  tr:hover {
    background: #ffffff !important;
  }
}

// If table is the only element within card
.card > table {
  thead, tbody, tfoot {
    border: none;
  }
}

// Title bar
.title-bar {
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.07);
}

// Form inputs
input.form-control {
  border-bottom: 1px solid $brand-silver;
  transition: border-bottom-color ease .15s;
  &:hover, &:focus, &:active {
    border-bottom: 1px solid $brand-primary;
  }
  &[disabled] {
    border-bottom: 1px solid $brand-silver;
    color: $brand-gray !important;
  }
  &--danger {
    border-bottom: 1px solid $brand-silver;
    &:hover {
      border-bottom: 1px solid $brand-silver;
    }
    &:focus, &:active {
      border-bottom: 1px solid $brand-silver;
    }
  }
}

// Sticky
.sticky-container {
  z-index: 1;
}

// Helpers

.title-decorative {
  @include gradient-text;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: $brand-primary;
}
