// 2. Colors

// Color variables

// 0. Theme Colors
$brand-primary: #FB6E00;
$brand-secondary: #720096;
$brand-pink: #FF0092;
$brand-red: #DD2222;
$brand-success: #00CCBB;
$brand-warning: #FFC500;
$brand-white: #ffffff;
$brand-black: #231f20;
$brand-gray: #857f87;
$brand-silver: #e6e6e6;
$brand-light: #f9f9f9;