// --------------------------------------------------
// Config
// --------------------------------------------------

/*---------- Colors ----------*/

$brand-primary: #FB6E00;
$brand-secondary: #720096;
$brand-pink: #FF0092;
$brand-success: #00CCBB;
$brand-danger: #ff4dc3;
$brand-warning: #FFC500;

$black: #000000;
$dark-gray: #564D59;
$medium-gray: #857F87;
$light-gray: #E6E6E6;
$lighter-gray: #f9f9f9;
$white: #ffffff;

$disabled-gray: $light-gray;