// --------------------------------------------------
// Theme
// --------------------------------------------------

.full-width {
  max-width: 100%;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-t-40 {
  margin-top: 40px;
}

.thumbnail {
  border: none;
  border-radius: 8px;
  box-shadow: none;
  overflow: hidden;
}

.text-orange {
  color: $brand-primary;
}

.intro-title {
  position: relative;
  color: $medium-gray;
  margin-left: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.7;
  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 120%;
    border-radius: 4px;
    left: -20px;
    top: -8px;
    background-image: linear-gradient(-180deg, #720096 0%, #A40061 35%, #FF0000 100%);
  }
}

.icon-large {
  font-size: 40px;
}

.form-control {
  border-bottom: 1px solid $disabled-gray;
  margin-bottom: $global-margin*2;
  &:hover, &:focus, &:active {
    border-bottom: 1px solid $brand-primary;
  }
  &[disabled] {
    border-bottom: 1px solid $disabled-gray;
    color: $medium-gray !important;
  }
  &--danger {
    border-bottom: 1px solid $brand-danger;
    &:hover {
      border-bottom: 1px solid $brand-danger;
    }
    &:focus, &:active {
      border-bottom: 1px solid $brand-danger;
    }
  }
}

.gold {
  color: #FFC500;
}
.silver {
  color: #B6CBCE;
}
.bronze {
  color: #D88B56;
}

.icon-xl {
  font-size: 48px;
  margin-bottom: 10px;
}

.orbit {
  border-radius: 6px;
  overflow: hidden;
}

.orbit-slide {
  max-height: 500px;
  overflow: hidden;
}

// talentlyft widget hacks
#applyForm {
  height: auto;
  display: none;
}

.card .talentlyft {
  padding: $global-padding;
  ul {
    margin-bottom: 0;
  }
}
