// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------

$black: #000;
$white: #fff;

body, html {
  height: 100%;
}

b, strong, .strong {
  font-weight: 600;
}
