// Memgraph Foundation styles - Custom styles for demo or application purposes



// Off panel
.card.off-panel {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  padding-top: 60px;
  top: 0;
  width: 320px;
  transform: translateX(-100%);
  @include transition(transform);
  border-radius: 0;
  z-index: 1;
  &.is-active {
    transform: translateX(0);
  }

  // Menu inside off-panel
  .menu li {
    color: $brand-primary;
    font-family: $header-font-family;
    font-weight: 600;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    &.is-active {
      background-color: #f6f6f6;
      border-bottom: 1px solid $brand-silver;
      background-image: linear-gradient(-45deg, #f6f6f6 0%, $brand-white 100%);
      position: relative;
      &:after {
        content: '';
        background-color: #f6f6f6;
        background-image: linear-gradient(-45deg, #f6f6f6 0%, $brand-light 100%);
        position: absolute;
        width: 20px;
        height: 100%;
        top: 0;
        right: -20px;
        box-sizing: content-box;
        margin-top: -1px;
        border-top: 1px solid $brand-silver;
        border-bottom: 1px solid $brand-silver;
      }
      &:first-child {
        border-top: 1px solid $brand-silver;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid $brand-silver;
    }
    h6 {
      margin-bottom: 0;
    }
    p {
      color: $brand-gray;
      font-size: 85%;
      font-family: $body-font-family;
      font-weight:400;
      margin-bottom: 0;
    }
  }


  // Offset left for sub-off-panel - z-index to slide under main off-panel
  &.off-panel-sub {
    z-index: 0;
    @include transition(transform, ease, .5s);
    &.is-active {
      transform: translateX(100%);
      @include transition(transform);
    }
  }
}

// Main page content
.off-panel-main {
  @include transition(margin-left);
  padding-top: 60px; // top padding to escape overlap from off-panel-button
}

// Toggle button for off-panel
.off-panel-btn {
  z-index: 0;
  position: fixed;
  left: 0;
  top: 60px;
  padding: 1rem 0.3rem;
  border-radius: 0 0 6px 0;
  @include gradient-auxiliary;
  @include box-shadow();
  cursor: pointer;
  @include transition(left);
  outline: none;
  &:hover {
    opacity: .75;
  }
}

// Off-panel-main active content left-margin/positioning
.is-active + .off-panel-main {
  margin-left: 320px;
  .off-panel-btn {
    left: 320px;
  }
}

.menu a.top-bar-title {
  border-right: 1px solid $brand-silver;
}


// Side menu search
.search-item {
  border-bottom: 1px solid $brand-silver;
  padding: 0.5rem;
}

// Off panel footer
.card-section + .card-divider {
  border-top: 1px solid $brand-silver;
  @include box-shadow();
  display: block;
  padding: 0;
  .footer-stats {
    padding: 1.25rem;
  }
  .footer-copy {
    border-top: 1px solid $brand-silver;
    & > span:first-child {
      display: inline-block;
      padding: .85rem 0 0 1.25rem;
      font-size: .7rem;
    }
    & > span:last-child {
      border-left: 1px solid $brand-silver;
    }
  }
}
