// Memgraph Foundation styles - General custom style overrides that cannot be set with updating Foundation's settings.scss

h4, h5, h6, .menu-text {
  font-family: $header-font-family;
  font-weight: 600;
}


// Type styles

.lead {
  color: $brand-gray;
}

blockquote {
  font-style: italic;
}

.label, .badge {
  font-weight: 600;
}


// Gradients

.gradient-primary {
  @include gradient-primary;
}

.gradient-dark {
  @include gradient-dark;
}

.gradient-punch {
  @include gradient-punch;
}

.gradient-light {
  @include gradient-light;
}

.gradient-auxiliary {
  @include gradient-auxiliary;
}


// UI


// Tabs

.tabs-content,
.tabs,
.dropdown-pane {
  @include box-shadow();
}


// Callout (modal box)
.callout a {
  color: $brand-light;
  text-decoration: underline;
  &:hover, &:focus, &:active {
    color: $brand-white;
  }
}


// Tables

table thead {
  text-transform: uppercase;
  font-family: "Encode Sans 600", Arial, sans-serif;
  font-weight: normal;
  tr:hover {
    background: #ffffff !important;
  }
}

// If table is the only element within card
.card > table {
  thead, tbody, tfoot {
    border: none;
  }
}

// Title bar
.title-bar {
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.07);
}

// Form inputs
input.form-control {
  border-bottom: 1px solid $brand-silver;
  transition: border-bottom-color ease .15s;
  &:hover, &:focus, &:active {
    border-bottom: 1px solid $brand-primary;
  }
  &[disabled] {
    border-bottom: 1px solid $brand-silver;
    color: $brand-gray !important;
  }
  &--danger {
    border-bottom: 1px solid $brand-silver;
    &:hover {
      border-bottom: 1px solid $brand-silver;
    }
    &:focus, &:active {
      border-bottom: 1px solid $brand-silver;
    }
  }
}

// Sticky
.sticky-container {
  z-index: 1;
}

.menu a.top-bar-title {
  padding: 0.5rem;
}

// Helpers

.title-decorative {
  @include gradient-text;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: $brand-primary;
}
